.TasksDisplay {
    width: 300px;
    margin: 1em;
    margin-bottom: 3em;
    padding: 0 3em;
    border-radius: 0 0 20px 20px;
    color: rgb(49, 49, 49);
    background: #F3F3F3;
    box-shadow:  6px 6px 12px #dddddd,
    -6px -6px 12px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TasksDisplay h2 {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.taskContainer {
    color: rgb(32, 32, 32);
    width: 300px;
    height: auto;
    border-top: 1px solid rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.taskContainer div {
    display: flex;
    align-items: center;
}

.taskContainer input[type=checkbox] {
    margin-right: 1em;
    cursor: pointer;
}

.taskContainer input[type=text] {
    margin: 14px 0;
    background: transparent;
    outline: none;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.taskGroup {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.deleteButton {
    display: flex;
    cursor: pointer;
    padding: 10px;
    background: rgb(224, 224, 224);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    border: none;
}

.deleteButton:hover {
    background: rgb(207, 207, 207);
    color: rgb(255, 56, 56)
}

@media only screen and (max-width: 1250px) {
    .TasksDisplay {
        width: 94%;
        padding: 0;
    }
    .taskContainer {
        width: 80%;
    }
}